
header {    
    color: white;
    display: flex;
    padding: 1em;
    border-bottom: 20px black;
}
header img {
    width: 160px;
}
nav {
    display: flex;
    align-items: left;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;    
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 28%;
    height: fit-content;        
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
main {
    display: flex;
}
section {
    display: flex;
  
}
aside {
    width: 30%;
    margin-right: 20px;
}

aside div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1em;
    border-radius: 10px; 
    background-color: bisque;
}
aside div li {
    color: black;
    font-size: 1em;
    margin-bottom: 0.8em;
}
footer {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    padding: 1em;
    color: black;
    justify-content: space-between;
}

.contenedor {
    width: 50%;
    gap: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  
}
article {
    width: 40%;
    border: 2px solid black;
    padding: 20px;
}

.contenedor div {
    width: 20%;
    border: 2px solid black;
    align-items: right;

}

section div {
    width: 20%;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: right;

}
.contenedorprincipal {
    width: 100%;
    display: flex;
}
section div img{
    width: 50%;
    height: 40%;
  
}
article h2 {
    border-top: 2px solid black;
}
